.footer{
    background-color: rgb(3, 3, 71);
    padding: 20px 0px;
    text-align: center;
    margin-top:0px ;
}
.footer_logo{
    color: white;
}
.footer_logo, .desc{
    text-align: center;
}
.desc p{
    color: gold;
}
.footer_links a{
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-decoration: none;  
 }
.footer_links{ 
    text-align: center;
 }